{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" href="{% static 'css/imagens.css' %}" >
    <title>Profile</title>
</head>

<body>
    
    <ul id = "cabeçalho">
        <li><a href = "#profile"> Perfil </a></li>
        <li><a href = "#hobbies"> Hobbies </a></li>
        <li><a href = "#serie"> Séries </a></li>
    </ul> 
    
    <section class = "perfil" id = "profile" >

        <h1>  Perfil </h1>
    
        <div class = "box_profile" >
            <img src = "{% static 'imagens/eu.jfif' %}" alt = "Minha foto">
            <p> Samuel O. Miranda, 19, é um estudante de ciência da computação do quarto período que ama
                novos desafios, e que adora tudo que envolva tecnologia. Desde pequenino sempre amou video games,
                e adora conversar e conhecer pessoas novas.
            </p>
        </div>
        
    </section>
 
    <section class = "Hobbie" id = "hobbies">

        <h2> Hobbies </h2>

        <div class = "box_hobbies">
            <p> <a href = "https://www.portodegalinhas.org.br/"> Viajar </a></p>
            <p> <a href = "https://www.w3schools.com/"> Estudar </a></p>
            <p> <a href = "https://www.ortobom.com.br/"> Dormir </a></p>
            <p> <a href = "https://br.leagueoflegends.com/pt/"> Jogar </a></p>
        </div>
    </section>

    <h2 id = serie> Séries </h2>
    <div class = "Series" >

        {% for serie in series %}
            <h3> {{ serie.nome }} </h3>

            {% if serie.imagem|length > 0 %}
                <img src = "{{ serie.imagem.url }}" alt = "Imagem da série">
            {% endif %}

            <p> Nota: {{ serie.nota }} </p>

            {% if serie.descricao|length > 0 %}
                <p> Descrição: {{ serie.descricao }} </p>
            {% endif %}

       {% endfor %}

    </div>


        <div class="box_footer">
        <a href="https://github.com/labprogsam" title="Meu github" >
          <img src="{% static 'imagens/github.png' %}" alt="logo github">
        </a>
    </div>  

  

</body>
</html>